In [2]:
import pandas as pd

In [3]:
data_cleaning = pd.read_csv("C:/Users/WALTER/Downloads/Colombianos_registrados_en_el_exterior_20250412.csv", header=0)

In [4]:
data_cleaning.shape # devuelve numero de filas y columnas

(1672255, 17)

In [5]:
data_cleaning.info() #informacion acerca de la base de datos

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1672255 entries, 0 to 1672254
Data columns (total 17 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   País                   1672255 non-null  object
 1   Código ISO país        1672255 non-null  object
 2   Ciudad de Residencia   1672255 non-null  object
 3   Oficina de registro    1672255 non-null  object
 4   Grupo edad             1672255 non-null  object
 5   Edad (años)            1672255 non-null  int64
 6   Área Conocimiento      1672255 non-null  object
 7   Sub Area Conocimiento  1672255 non-null  object
 8   Nivel Académico        1672255 non-null  object
 9   Estado civil           1672255 non-null  object
 10  Género                 1672255 non-null  object
 11  Etnia de la persona    1672255 non-null  object
 12  Estatura (CM)          1672255 non-null  int64
 13  Ciudad de Nacimiento   1672255 non-null  object
 14  Localización           1672255 non-null  object
 15  Fecha de Registro      1672255 non-null  object
 16  Cantidad de personas   1672255 non-null  int64
dtypes: int64(3), object(14)
memory usage: 216.9+ MB

In [16]:
data_cleaning_removecolumns = data_cleaning.drop(columns=["Código ISO país", "Oficina de registro", "Localización", "Cantidad de personas", "Fecha de Registro"]) #se eliminan las columnas que no se requieren

In [17]:
data_cleaning_removecolumns.info() #se remueven las columnas que no se van a tomar en cuenta dentro del analisis

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1672255 entries, 0 to 1672254
Data columns (total 12 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   País                   1672255 non-null  object
 1   Ciudad de Residencia   1672255 non-null  object
 2   Grupo edad             1672255 non-null  object
 3   Edad (años)            1672255 non-null  int64
 4   Área Conocimiento      1672255 non-null  object
 5   Sub Area Conocimiento  1672255 non-null  object
 6   Nivel Académico        1672255 non-null  object
 7   Estado civil           1672255 non-null  object
 8   Género                 1672255 non-null  object
 9   Etnia de la persona    1672255 non-null  object
 10  Estatura (CM)          1672255 non-null  int64
 11  Ciudad de Nacimiento   1672255 non-null  object
dtypes: int64(2), object(10)
memory usage: 153.1+ MB

In [ ]:
#se cambia los nombres de las columnas para facilitar su posterior manejo
data_cleaning_removecolumns.rename(columns={"Ciudad de Residencia":"Ciudad_de_Residencia"}, inplace=True)
data_cleaning_removecolumns.rename(columns={"Grupo edad":"Grupo_edad"}, inplace=True)
data_cleaning_removecolumns.rename(columns={"Edad (años)":"Edad"}, inplace=True)
data_cleaning_removecolumns.rename(columns={"Área Conocimiento":"Área_Conocimiento"}, inplace=True)
data_cleaning_removecolumns.rename(columns={"Sub Area Conocimiento":"Sub_Area_Conocimiento"}, inplace=True)
data_cleaning_removecolumns.rename(columns={"Nivel Académico":"Nivel_Académico"}, inplace=True)
data_cleaning_removecolumns.rename(columns={"Estado civil":"Estado_civil"}, inplace=True)
data_cleaning_removecolumns.rename(columns={"Etnia de la persona":"Etnia_de_la_persona"}, inplace=True)
data_cleaning_removecolumns.rename(columns={"Estatura (CM)":"Estatura"}, inplace=True)
data_cleaning_removecolumns.rename(columns={"Ciudad de Nacimiento":"Ciudad_de_Nacimiento"}, inplace=True)

In [ ]:
data_cleaning_removecolumns.info() #se valida que se haya hecho el cambio de nombre de manera correcta

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1672255 entries, 0 to 1672254
Data columns (total 12 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   País                   1672255 non-null  string
 1   Ciudad_de_Residencia   1672255 non-null  string
 2   Grupo_edad             1672255 non-null  string
 3   Edad                   1672255 non-null  int64
 4   Área_Conocimiento      1672255 non-null  string
 5   Sub_Area_Conocimiento  1672255 non-null  string
 6   Nivel_Académico        1672255 non-null  string
 7   Estado_civil           1672255 non-null  string
 8   Género                 1672255 non-null  string
 9   Etnia_de_la_persona    1672255 non-null  string
 10  Estatura               1672255 non-null  int64
 11  Ciudad_de_Nacimiento   1672255 non-null  string
dtypes: int64(2), string(10)
memory usage: 153.1 MB

In [18]:
data_cleaning_removecolumns.dropna(inplace=True) #se eliminan filas con valores nulos

In [45]:
data_cleaning_removecolumns.shape #se valida las dimensiones nuevamente

(1672255, 12)

In [46]:
rows_before = data_cleaning.shape[0] #se valida si hubo cambios en el numero de filas al borrar las que tenian valores nulos
rows_after = data_cleaning_removecolumns.shape[0]
rows_before - rows_after

0

In [47]:
data_cleaning_removecolumns.info() #sigue siendo igual debido a que no se removieron filas

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1672255 entries, 0 to 1672254
Data columns (total 12 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   País                   1672255 non-null  string
 1   Ciudad_de_Residencia   1672255 non-null  string
 2   Grupo_edad             1672255 non-null  string
 3   Edad                   1672255 non-null  int64
 4   Área_Conocimiento      1672255 non-null  string
 5   Sub_Area_Conocimiento  1672255 non-null  string
 6   Nivel_Académico        1672255 non-null  string
 7   Estado_civil           1672255 non-null  string
 8   Género                 1672255 non-null  string
 9   Etnia_de_la_persona    1672255 non-null  string
 10  Estatura               1672255 non-null  int64
 11  Ciudad_de_Nacimiento   1672255 non-null  string
dtypes: int64(2), string(10)
memory usage: 153.1 MB

In [49]:
#se cambia el tipo de dato segun corresponda
data_cleaning_removecolumns["Edad"] = data_cleaning_removecolumns["Edad"].astype("int")
data_cleaning_removecolumns["País"]= data_cleaning_removecolumns["País"].astype("string")
data_cleaning_removecolumns["Ciudad_de_Residencia"]= data_cleaning_removecolumns["Ciudad_de_Residencia"].astype("string")
data_cleaning_removecolumns["Grupo_edad"]= data_cleaning_removecolumns["Grupo_edad"].astype("string")
data_cleaning_removecolumns["Área_Conocimiento"]= data_cleaning_removecolumns["Área_Conocimiento"].astype("string")
data_cleaning_removecolumns["Sub_Area_Conocimiento"]= data_cleaning_removecolumns["Sub_Area_Conocimiento"].astype("string")
data_cleaning_removecolumns["Nivel_Académico"]= data_cleaning_removecolumns["Nivel_Académico"].astype("string")
data_cleaning_removecolumns["Estado_civil"]= data_cleaning_removecolumns["Estado_civil"].astype("string")
data_cleaning_removecolumns["Género"]= data_cleaning_removecolumns["Género"].astype("string")
data_cleaning_removecolumns["Etnia_de_la_persona"]= data_cleaning_removecolumns["Etnia_de_la_persona"].astype("string")
data_cleaning_removecolumns["Ciudad_de_Nacimiento"]= data_cleaning_removecolumns["Ciudad_de_Nacimiento"].astype("string")

In [50]:
data_cleaning_removecolumns.info() #se confirma que se haya cambiado correctamento el tipo de dato al validar la informacion de la base de datos

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1672255 entries, 0 to 1672254
Data columns (total 12 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   País                   1672255 non-null  string
 1   Ciudad_de_Residencia   1672255 non-null  string
 2   Grupo_edad             1672255 non-null  string
 3   Edad                   1672255 non-null  int64
 4   Área_Conocimiento      1672255 non-null  string
 5   Sub_Area_Conocimiento  1672255 non-null  string
 6   Nivel_Académico        1672255 non-null  string
 7   Estado_civil           1672255 non-null  string
 8   Género                 1672255 non-null  string
 9   Etnia_de_la_persona    1672255 non-null  string
 10  Estatura               1672255 non-null  int64
 11  Ciudad_de_Nacimiento   1672255 non-null  string
dtypes: int64(2), string(10)
memory usage: 153.1 MB

In [51]:
data_cleaning_removecolumns["Grupo_edad"].unique() #se valida la categoria del grupo edad para evidenciar posibles errores en sus nombres y de ser asi reemplazarlos

<StringArray>
[     'ADOLESCENTE',      'DESCONOCIDO',           'ADULTO',
     'ADULTO JOVEN',     'ADULTO MAYOR',          'INFANTE',
 'PRIMERA INFANCIA']
Length: 7, dtype: string

In [ ]:
data_cleaning_removecolumns["Género"].unique() #se valida la categoria de genero para evidenciar posibles errores en sus nombres y de ser asi reemplazarlos

<StringArray>
['MASCULINO', 'FEMENINO', 'DESCONOCIDO', 'NO_BINARIO']
Length: 4, dtype: string

In [ ]:
data_cleaning_removecolumns["Estado_civil"].unique() #se valida la categoria de estado civil para evidenciar posibles errores en sus nombres y de ser asi reemplazarlos

<StringArray>
[             'SOLTERO',          'DESCONOCIDO',          'UNION_LIBRE',
               'CASADO',           'DIVORCIADO',  'SEPARADO_MATRIMONIO',
                'VIUDO', 'SEPARADO_UNION_LIBRE']
Length: 8, dtype: string

In [108]:
data_cleaning_removecolumns["Etnia_de_la_persona"].unique() #se valida la categoria de etnia de la persona para evidenciar posibles errores en sus nombres y de ser asi reemplazarlos

<StringArray>
[                              'NINGUNA',
                  'SIN ETNIA REGISTRADA',
                                  'OTRO',
                              'INDIGENA',
                      'AFRODESCENDIENTE',
 'RAIZAL DEL ARCHIPIELAGO DE SAN ANDRES',
             'PALENQUERO DE SAN BASILIO',
                                'GITANO']
Length: 8, dtype: string

In [ ]:
#Se cambia IND�GENA por INDIGENA ya que representa un error
data_cleaning_removecolumns.Etnia_de_la_persona = data_cleaning_removecolumns.Etnia_de_la_persona.replace("IND�GENA", "INDIGENA")

In [ ]:
# se valida que se efectuo el cambio de nombre
data_cleaning_removecolumns["Etnia_de_la_persona"].unique()

<StringArray>
[                              'NINGUNA',
                  'SIN ETNIA REGISTRADA',
                                  'OTRO',
                              'INDIGENA',
                      'AFRODESCENDIENTE',
 'RAIZAL DEL ARCHIPIELAGO DE SAN ANDRES',
             'PALENQUERO DE SAN BASILIO',
                                'GITANO']
Length: 8, dtype: string

In [109]:
# remover duplicados
data_cleaning_removecolumns.drop_duplicates(subset=None, keep= "first",inplace=True)

In [110]:
data_cleaning_removecolumns.shape

(1593616, 12)

In [111]:
data_cleaning_removecolumns.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1593616 entries, 0 to 1672253
Data columns (total 12 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   País                   1593616 non-null  string
 1   Ciudad_de_Residencia   1593616 non-null  string
 2   Grupo_edad             1593616 non-null  string
 3   Edad                   1593616 non-null  int64
 4   Área_Conocimiento      1593616 non-null  string
 5   Sub_Area_Conocimiento  1593616 non-null  string
 6   Nivel_Académico        1593616 non-null  string
 7   Estado_civil           1593616 non-null  string
 8   Género                 1593616 non-null  string
 9   Etnia_de_la_persona    1593616 non-null  string
 10  Estatura               1593616 non-null  int64
 11  Ciudad_de_Nacimiento   1593616 non-null  string
dtypes: int64(2), string(10)
memory usage: 158.1 MB

In [112]:
data_cleaning_removecolumns.to_csv("Colombianos_registrados_en_el_exterior", index=False)
print("\nEl archivo CSV ha sido guardado")

El archivo CSV ha sido guardado