In [25]:
import pandas as pd

In [26]:
data_cleaning = pd.read_csv("C:/Users/WALTER/Downloads/Colombianos_registrados_en_el_exterior_20250412.csv", header=0)

In [27]:
data_cleaning.shape # devuelve numero de filas y columnas

(1672255, 17)

In [28]:
data_cleaning.info() #informacion acerca de la base de datos

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1672255 entries, 0 to 1672254
Data columns (total 17 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   País                   1672255 non-null  object
 1   Código ISO país        1672255 non-null  object
 2   Ciudad de Residencia   1672255 non-null  object
 3   Oficina de registro    1672255 non-null  object
 4   Grupo edad             1672255 non-null  object
 5   Edad (años)            1672255 non-null  int64
 6   Área Conocimiento      1672255 non-null  object
 7   Sub Area Conocimiento  1672255 non-null  object
 8   Nivel Académico        1672255 non-null  object
 9   Estado civil           1672255 non-null  object
 10  Género                 1672255 non-null  object
 11  Etnia de la persona    1672255 non-null  object
 12  Estatura (CM)          1672255 non-null  int64
 13  Ciudad de Nacimiento   1672255 non-null  object
 14  Localización           1672255 non-null  object
 15  Fecha de Registro      1672255 non-null  object
 16  Cantidad de personas   1672255 non-null  int64
dtypes: int64(3), object(14)
memory usage: 216.9+ MB

In [29]:
data_cleaning_removecolumns = data_cleaning.drop(columns=["Código ISO país", "Oficina de registro", "Localización", "Cantidad de personas", "Fecha de Registro"]) #se eliminan las columnas que no se requieren

In [30]:
data_cleaning_removecolumns.info() #se remueven las columnas que no se van a tomar en cuenta dentro del analisis

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1672255 entries, 0 to 1672254
Data columns (total 12 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   País                   1672255 non-null  object
 1   Ciudad de Residencia   1672255 non-null  object
 2   Grupo edad             1672255 non-null  object
 3   Edad (años)            1672255 non-null  int64
 4   Área Conocimiento      1672255 non-null  object
 5   Sub Area Conocimiento  1672255 non-null  object
 6   Nivel Académico        1672255 non-null  object
 7   Estado civil           1672255 non-null  object
 8   Género                 1672255 non-null  object
 9   Etnia de la persona    1672255 non-null  object
 10  Estatura (CM)          1672255 non-null  int64
 11  Ciudad de Nacimiento   1672255 non-null  object
dtypes: int64(2), object(10)
memory usage: 153.1+ MB

In [31]:
#se cambia los nombres de las columnas para facilitar su posterior manejo
data_cleaning_removecolumns.rename(columns={"Ciudad de Residencia":"Ciudad_de_Residencia"}, inplace=True)
data_cleaning_removecolumns.rename(columns={"Grupo edad":"Grupo_edad"}, inplace=True)
data_cleaning_removecolumns.rename(columns={"Edad (años)":"Edad"}, inplace=True)
data_cleaning_removecolumns.rename(columns={"Área Conocimiento":"Área_Conocimiento"}, inplace=True)
data_cleaning_removecolumns.rename(columns={"Sub Area Conocimiento":"Sub_Area_Conocimiento"}, inplace=True)
data_cleaning_removecolumns.rename(columns={"Nivel Académico":"Nivel_Académico"}, inplace=True)
data_cleaning_removecolumns.rename(columns={"Estado civil":"Estado_civil"}, inplace=True)
data_cleaning_removecolumns.rename(columns={"Etnia de la persona":"Etnia_de_la_persona"}, inplace=True)
data_cleaning_removecolumns.rename(columns={"Estatura (CM)":"Estatura"}, inplace=True)
data_cleaning_removecolumns.rename(columns={"Ciudad de Nacimiento":"Ciudad_de_Nacimiento"}, inplace=True)

In [32]:
data_cleaning_removecolumns.info() #se valida que se haya hecho el cambio de nombre de manera correcta

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1672255 entries, 0 to 1672254
Data columns (total 12 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   País                   1672255 non-null  object
 1   Ciudad_de_Residencia   1672255 non-null  object
 2   Grupo_edad             1672255 non-null  object
 3   Edad                   1672255 non-null  int64
 4   Área_Conocimiento      1672255 non-null  object
 5   Sub_Area_Conocimiento  1672255 non-null  object
 6   Nivel_Académico        1672255 non-null  object
 7   Estado_civil           1672255 non-null  object
 8   Género                 1672255 non-null  object
 9   Etnia_de_la_persona    1672255 non-null  object
 10  Estatura               1672255 non-null  int64
 11  Ciudad_de_Nacimiento   1672255 non-null  object
dtypes: int64(2), object(10)
memory usage: 153.1+ MB

In [33]:
data_cleaning_removecolumns.dropna(inplace=True) #se eliminan filas con valores nulos

In [34]:
data_cleaning_removecolumns.shape #se valida las dimensiones nuevamente

(1672255, 12)

In [35]:
rows_before = data_cleaning.shape[0] #se valida si hubo cambios en el numero de filas al borrar las que tenian valores nulos
rows_after = data_cleaning_removecolumns.shape[0]
rows_before - rows_after

0

In [36]:
data_cleaning_removecolumns.info() #sigue siendo igual debido a que no se removieron filas

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1672255 entries, 0 to 1672254
Data columns (total 12 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   País                   1672255 non-null  object
 1   Ciudad_de_Residencia   1672255 non-null  object
 2   Grupo_edad             1672255 non-null  object
 3   Edad                   1672255 non-null  int64
 4   Área_Conocimiento      1672255 non-null  object
 5   Sub_Area_Conocimiento  1672255 non-null  object
 6   Nivel_Académico        1672255 non-null  object
 7   Estado_civil           1672255 non-null  object
 8   Género                 1672255 non-null  object
 9   Etnia_de_la_persona    1672255 non-null  object
 10  Estatura               1672255 non-null  int64
 11  Ciudad_de_Nacimiento   1672255 non-null  object
dtypes: int64(2), object(10)
memory usage: 153.1+ MB

In [37]:
#se cambia el tipo de dato segun corresponda
data_cleaning_removecolumns["Edad"] = data_cleaning_removecolumns["Edad"].astype("int")
data_cleaning_removecolumns["País"]= data_cleaning_removecolumns["País"].astype("string")
data_cleaning_removecolumns["Ciudad_de_Residencia"]= data_cleaning_removecolumns["Ciudad_de_Residencia"].astype("string")
data_cleaning_removecolumns["Grupo_edad"]= data_cleaning_removecolumns["Grupo_edad"].astype("string")
data_cleaning_removecolumns["Área_Conocimiento"]= data_cleaning_removecolumns["Área_Conocimiento"].astype("string")
data_cleaning_removecolumns["Sub_Area_Conocimiento"]= data_cleaning_removecolumns["Sub_Area_Conocimiento"].astype("string")
data_cleaning_removecolumns["Nivel_Académico"]= data_cleaning_removecolumns["Nivel_Académico"].astype("string")
data_cleaning_removecolumns["Estado_civil"]= data_cleaning_removecolumns["Estado_civil"].astype("string")
data_cleaning_removecolumns["Género"]= data_cleaning_removecolumns["Género"].astype("string")
data_cleaning_removecolumns["Etnia_de_la_persona"]= data_cleaning_removecolumns["Etnia_de_la_persona"].astype("string")
data_cleaning_removecolumns["Ciudad_de_Nacimiento"]= data_cleaning_removecolumns["Ciudad_de_Nacimiento"].astype("string")

In [38]:
data_cleaning_removecolumns.info() #se confirma que se haya cambiado correctamento el tipo de dato al validar la informacion de la base de datos

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1672255 entries, 0 to 1672254
Data columns (total 12 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   País                   1672255 non-null  string
 1   Ciudad_de_Residencia   1672255 non-null  string
 2   Grupo_edad             1672255 non-null  string
 3   Edad                   1672255 non-null  int64
 4   Área_Conocimiento      1672255 non-null  string
 5   Sub_Area_Conocimiento  1672255 non-null  string
 6   Nivel_Académico        1672255 non-null  string
 7   Estado_civil           1672255 non-null  string
 8   Género                 1672255 non-null  string
 9   Etnia_de_la_persona    1672255 non-null  string
 10  Estatura               1672255 non-null  int64
 11  Ciudad_de_Nacimiento   1672255 non-null  string
dtypes: int64(2), string(10)
memory usage: 153.1 MB

In [39]:
data_cleaning_removecolumns["Grupo_edad"].unique() #se valida la categoria del grupo edad para evidenciar posibles errores en sus nombres y de ser asi reemplazarlos

<StringArray>
[     'ADOLESCENTE',      'DESCONOCIDO',           'ADULTO',
     'ADULTO JOVEN',     'ADULTO MAYOR',          'INFANTE',
 'PRIMERA INFANCIA']
Length: 7, dtype: string

In [40]:
data_cleaning_removecolumns["Género"].unique() #se valida la categoria de genero para evidenciar posibles errores en sus nombres y de ser asi reemplazarlos

<StringArray>
['MASCULINO', 'FEMENINO', 'DESCONOCIDO', 'NO_BINARIO']
Length: 4, dtype: string

In [41]:
data_cleaning_removecolumns["Estado_civil"].unique() #se valida la categoria de estado civil para evidenciar posibles errores en sus nombres y de ser asi reemplazarlos

<StringArray>
[             'SOLTERO',          'DESCONOCIDO',          'UNION_LIBRE',
               'CASADO',           'DIVORCIADO',  'SEPARADO_MATRIMONIO',
                'VIUDO', 'SEPARADO_UNION_LIBRE']
Length: 8, dtype: string

In [42]:
data_cleaning_removecolumns["Etnia_de_la_persona"].unique() #se valida la categoria de etnia de la persona para evidenciar posibles errores en sus nombres y de ser asi reemplazarlos

<StringArray>
[                              'NINGUNA',
                  'SIN ETNIA REGISTRADA',
                                  'OTRO',
                              'IND�GENA',
                      'AFRODESCENDIENTE',
 'RAIZAL DEL ARCHIPIELAGO DE SAN ANDRES',
             'PALENQUERO DE SAN BASILIO',
                                'GITANO']
Length: 8, dtype: string

In [ ]:
#Se cambia IND�GENA por INDIGENA ya que representa un error
data_cleaning_removecolumns.Etnia_de_la_persona = data_cleaning_removecolumns.Etnia_de_la_persona.replace("IND�GENA", "INDIGENA")

In [ ]:
#Se corrigen datos 
data_cleaning_removecolumns.País = data_cleaning_removecolumns.País.replace("ESPA�A", "ESPAÑA")

In [ ]:
#se corrigen datos
data_cleaning_removecolumns.Ciudad_de_Residencia = data_cleaning_removecolumns.Ciudad_de_Residencia.replace("CATALU�A/BARCELONA", "BARCELONA")

In [ ]:
#se validan correcciones
top_10_paises = data_cleaning_removecolumns["País"].value_counts().nlargest(10)
print("Top 10 paises con mas colombianos registrados:")
for categoria, cantidad in top_10_paises.items():
    print(f"{categoria}: {cantidad}")

Top 10 paises con mas colombianos registrados:
ESTADOS UNIDOS: 479719
ESPAÑA: 402624
VENEZUELA: 202674
ECUADOR: 84593
CANADA: 52461
CHILE: 46565
ARGENTINA: 32567
PANAMA: 29132
BRASIL: 25148
MEXICO: 24563

In [ ]:
#se validan correcciones
data_cleaning_removecolumns["País"].unique()

<StringArray>
[                      'MEXICO',                      'ALBANIA',
                     'ALEMANIA',                      'ECUADOR',
                      'CURAZAO',               'ESTADOS UNIDOS',
                       'ESPAÑA',                        'ARUBA',
                       'CANADA',                      'FRANCIA',
 ...
                      'VANUATU',                  'SUAZILANDIA',
        'REPUBLICA ARABE SIRIA',                      'GRANADA',
 'SAN VICENTE Y LAS GRANADINAS',                   'MAURITANIA',
                     'BOTSUANA',                'GUINEA-BISSAU',
                        'BUTAN',                       'ZAMBIA']
Length: 194, dtype: string

In [71]:
# se valida que se efectuo el cambio de nombre
data_cleaning_removecolumns["Etnia_de_la_persona"].unique()

<StringArray>
[                              'NINGUNA',
                  'SIN ETNIA REGISTRADA',
                                  'OTRO',
                              'INDIGENA',
                      'AFRODESCENDIENTE',
 'RAIZAL DEL ARCHIPIELAGO DE SAN ANDRES',
             'PALENQUERO DE SAN BASILIO',
                                'GITANO']
Length: 8, dtype: string

In [ ]:
# remover filas duplicadas
data_cleaning_removecolumns.drop_duplicates(subset=None, keep= "first",inplace=True)

In [73]:
data_cleaning_removecolumns.shape

(1593616, 12)

In [74]:
data_cleaning_removecolumns.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1593616 entries, 0 to 1672253
Data columns (total 12 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   País                   1593616 non-null  string
 1   Ciudad_de_Residencia   1593616 non-null  string
 2   Grupo_edad             1593616 non-null  string
 3   Edad                   1593616 non-null  int64
 4   Área_Conocimiento      1593616 non-null  string
 5   Sub_Area_Conocimiento  1593616 non-null  string
 6   Nivel_Académico        1593616 non-null  string
 7   Estado_civil           1593616 non-null  string
 8   Género                 1593616 non-null  string
 9   Etnia_de_la_persona    1593616 non-null  string
 10  Estatura               1593616 non-null  int64
 11  Ciudad_de_Nacimiento   1593616 non-null  string
dtypes: int64(2), string(10)
memory usage: 158.1 MB

In [ ]:
#se corrigen datos
data_cleaning_removecolumns.Área_Conocimiento = data_cleaning_removecolumns.Área_Conocimiento.replace({"ADMINISTRACI�N": "ADMINISTRACION","AGRONOM�A":"AGRONOMIA","AVIACI�N":"AVIACION","EDUCACI�N":"EDUCACION","MATEM�TICAS":"MATEMATICAS","ESTAD�STICA":"ESTADISTICAS","INFORMACI�N":"INFORMACION","ECONOM�A":"ECONOMIA","INGENIER�A":"INGENIERIA","CONSTRUCCI�N":"CONSTRUCCION","GEN�RICAS":"GENERICAS"},  regex= True)

In [ ]:
#se validan correcciones
data_cleaning_removecolumns.Área_Conocimiento.value_counts().sort_index()

Área_Conocimiento
(NO REGISTRA)                                          731
ADMINISTRACION DE EMPRESAS Y DERECHO                  3089
AGRONOMIA, VETERINARIA Y AFINES                       5159
AGRONOMIA, VETERINARIA Y ZOOTECNIA                    3704
AGROPECUARIO, SILVICULTURA, PESCA, Y VETERINARIA       185
ARTES Y HUMANIDADES                                    607
AVIACION                                              2602
BELLAS ARTES                                         35655
CIENCIAS DE LA EDUCACION                             33822
CIENCIAS DE LA SALUD                                 83859
CIENCIAS NATURALES, MATEMATICAS Y ESTADISTICAS         324
CIENCIAS SOCIALES Y HUMANAS                          77144
CIENCIAS SOCIALES, PERIODISMO E INFORMACION           1055
COCINA Y CULINARIA                                    5108
ECONOMIA, ADMINISTRACION CONTADURIA Y AFINES        153127
EDUCACION                                              694
INGENIERIA, ARQUITECTURA Y AFINES                   123765
INGENIERIA, INDUSTRIA Y CONSTRUCCION                  2191
MATEMATICAS Y CIENCIAS NATURALES                     12440
NINGUNA                                             808458
NO INDICA                                           237940
PROGRAMAS Y CERTIFICACIONES GENERICAS                  120
SALUD Y BIENESTAR                                     1711
SERVICIOS                                              126
Name: count, dtype: Int64

In [ ]:
#se corrigen datos
data_cleaning_removecolumns.Sub_Area_Conocimiento = data_cleaning_removecolumns.Sub_Area_Conocimiento.replace({"ADMINISTRACI�N": "ADMINISTRACION","CONTADUR�A P�BLICA":"CONTADURIA PUBLICA","ENFERMER�A":"ENFERMERIA","EDUCACI�N":"EDUCACION","TELEM�TICA":"TELEMATICA","ESTAD�STICA":"ESTADISTICAS","INFORMACI�N":"INFORMACION","ECONOM�A":"ECONOMIA","INGENIER�A":"INGENIERIA","CONSTRUCCI�N":"CONSTRUCCION","GEN�RICAS":"GENERICAS"},  regex= True)

In [ ]:
#se validan correcciones
top_10_area_de_conocimiento = data_cleaning_removecolumns["Sub_Area_Conocimiento"].value_counts().nlargest(10)
print("Top 10 ciudades con mas colombianos registrados:")
for categoria, cantidad in top_10_area_de_conocimiento.items():
    print(f"{categoria}: {cantidad}")

Top 10 ciudades con mas colombianos registrados:
NINGUNA: 808450
NO INDICA: 230030
ADMINISTRACION: 110455
EDUCACION: 34517
CONTADURIA PUBLICA: 26926
ENFERMERIA: 26158
INGENIERIA EN SISTEMAS, TELEMATICA Y AFINES: 25254
INGENIERIA INDUSTRIAL Y AFINES: 18930
DERECHO Y AFINES: 18782
ECONOMIA: 18646

In [ ]:
#se corrigen datos
data_cleaning_removecolumns.Nivel_Académico = data_cleaning_removecolumns.Nivel_Académico.replace({"ESPECIALIZACI�N": "ESPECIALIZACION","TECNOL�GICO":"TECNOLOGICO","T�CNICO":"TECNICO","PROFESI�N":"PROFESION","TECNOL�GICA":"TECNOLOGICA","T�CNICA":"TECNICA"},  regex= True)

In [ ]:
#se validan correcciones
data_cleaning_removecolumns.Nivel_Académico.value_counts().sort_index()

Nivel_Académico
(NO REGISTRA)                        731
BACHILLERATO                      382829
ESPECIALIZACION                        3
MAESTRIA                               1
NINGUNO                            32144
NO INDICA                         701226
POSTGRADO - DOCTORADO               8929
POSTGRADO - ESPECIALIZACION        25456
POSTGRADO - MAESTRIA               41366
PREGRADO - PROFESIONAL            188479
PREGRADO - TECNICO PROFESIONAL     71486
PREGRADO - TECNOLOGICO             36060
PRIMARIA                          104678
SIN PROFESION                        225
TECNICA PROFESIONAL                    1
TECNOLOGICA                            1
UNIVERSITARIO                          1
Name: count, dtype: Int64

In [122]:
data_cleaning_removecolumns.to_csv("Colombianos_registrados_en_el_exterior", index=False)
print("\nEl archivo CSV ha sido guardado")

El archivo CSV ha sido guardado